<div class="container">
  <h1>CRUD de Tarefas</h1>

 <form [formGroup]="form" (ngSubmit)="salvar()" class="card form-card">

  <div class="campo">
    <label for="title">Título da tarefa</label>
    <input
      id="title"
      type="text"
      placeholder="Ex.: Estudar Angular Signals"
      formControlName="title"
    />
  </div>

  <div class="campo">
    <label for="body">Descrição</label>
    <textarea
      id="body"
      rows="5"
      placeholder="Descreva a tarefa..."
      formControlName="body"
    ></textarea>
  </div>

  <button type="submit" class="btn-salvar">
    Salvar tarefa
  </button>

</form>

  @if (loading()) {
    <p class="loading">Carregando...</p>
  }

  @if (sucesso()) {
    <p class="sucesso">{{ sucesso() }}</p>
  }

  @if (erro()) {
    <p class="erro">{{ erro() }}</p>
  }

  <div class="lista">
    @for (tarefa of tarefas(); track tarefa.id) {
      <div class="item">
        <h3>{{ tarefa.title }}</h3>
        <p>{{ tarefa.body }}</p>

        <div class="acoes">
          <button (click)="editar(tarefa)">
            Editar
          </button>

          <button (click)="concluir(tarefa)">
            Concluir
          </button>

          <button (click)="excluir(tarefa.id)">
            Excluir
          </button>
        </div>
      </div>
    }
  </div>
</div>