<div class="container">
  <h1>Cadastro de Tarefas</h1>

  <form [formGroup]="form" (ngSubmit)="salvar()" class="card">

    <input
      type="text"
      placeholder="Título"
      formControlName="titulo"
    />

    <textarea
      rows="4"
      placeholder="Descrição"
      formControlName="descricao"
    ></textarea>

    <select formControlName="prioridade">
      <option value="alta">Alta</option>
      <option value="media">Média</option>
      <option value="baixa">Baixa</option>
    </select>

    <input
      type="text"
      placeholder="Categoria"
      formControlName="categoria"
    />

    <select formControlName="status">
      <option value="pendente">Pendente</option>
      <option value="em andamento">Em andamento</option>
      <option value="concluida">Concluída</option>
    </select>

    <input
      type="date"
      formControlName="dataLimite"
    />

    <button type="submit">
      Salvar
    </button>

  </form>

  @if (loading()) {
    <p class="loading">Salvando...</p>
  }

  @if (sucesso()) {
    <p class="sucesso">{{ sucesso() }}</p>
  }

  @if (erro()) {
    <p class="erro">{{ erro() }}</p>
  }

  @if (tarefaCriada(); as tarefa) {
    <div class="resultado">
      <h2>Resposta da API</h2>

      <p><strong>ID:</strong> {{ tarefa.id }}</p>
      <p><strong>Título:</strong> {{ tarefa.titulo }}</p>
      <p><strong>Status:</strong> {{ tarefa.status }}</p>
    </div>
  }
</div>